<section data-ng-controller="HomeController">
		<div class="row">
			<h1>
					FAQ's
			</h1>
			<ol>
        <li><h5>Question: Should we empty the drawers?</h5>
               <p>Answer: Smaller pieces no, larger pieces, yes. A lot of furniture 	isn't made to handle all the extra weight. That's how you end up with a dictionary holding up one corner of your dresser</p></li>

        <li><h5>Question: Can you take apart the beds and put them back together?</h5>
               <p>Answer:  Yes.</p></li>

        <li><h5>Question: Do you need a deposit?/When do I pay?/How do I pay?</h5>
              <p>Answer:  Yes to make your reservation here you will need to make a $200 deposit which is refundable and will be used enirely toward your move.
        Payment of the balance in the form of cash, credit/debit card is due at the end of the job. Cards have a 3% surcharge. We do not take personal checks.</p></li>

        <li><h5>Question: Do you offer packing services?</h5>
           	<p>Answer:  We do.  It is the same as the hourly rate plus the cost of materials.</p></li>

        <li><h5>Question: What Should I do with my TV?</h5>
               <p>Answer:  If you have the original box for it, that's great, we can help you put it in there.  If you don't we are going to wrap it in blankets and plastic.  It is the most common thing to worry about, but problems are extremely rare.</p></li>

        <li><h5>Question: Do you need to come see my furniture?</h5>
              <p>Answer: No. It is not necessary for local moves.  Only for large jobs 1800 sq.ft and up</p></li>

        <li><h5>Question: Is it ok if I help?</h5>
              <p>Answer: If you want to help we don't mind. You can carry all the boxes you want.  The only rule is don't get in the truck.</p></li>

        <li><h5>Question: What is travel time?</h5>
             <p>Answer: Travel time is an industry standard.  It is the time spent driving to and from a job.  Most companies tack on an hour to every job and call it "shop" time.  Travel time applies to jobs more than 15 minutes from our office.  (broad and belvedere)</p></li>

        <li><h5>Question: hould I tip my movers?</h5>
                  <p>Answer:   The answer is Yes. The question is how much.
                                   It's entirely up to you.</p></li>

        <li><h5>Question: Are there any hidden charges?</h5>
          <p>No.  Only the hourly rate and the fuel charge.</p></li>

        <li><h5>Question: Will my things be wrapped?</h5>
          <p>Yes all the furniture will be wrapped in moving blankets</p></li>

			</ol>

      <p>
				<a class="btn btn-primary btn-lg" back>Back to Previous Page</a>
			</p>
	</div>
</section>
