<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<h1>
					Welcome to Moxie Movers!
			</h1>
			<p>
				Please make a selection below!
			</p>
			<p>
				<a href="/#!/moves/setup">Get an estimate.</a><br>
				<a href="/#!/rates">Find out about rates.</a><br>
				<a href="/#!/faq">Frequently Asked Questions</a><br>
				<a href="/#!/moves/setup">Check Availability.</a><br>
				<a ui-sref="setupMove.minCostWarning">I just want to move one or a few items.</a><br>
				<a href="/#!/moves/setup">Confirm or Edit an existing reservation.</a>
			</p>
		</div>
	</div>
</section>
