<section data-ng-controller="HomeController">
	<div class="row">
		<h1 style="text-align:center">
				Rates
		</h1>
		<h3 style="text-align:center">
			<u>The hourly rate is $129 an hour</u>
		</h3>
		<ul>
			<li>There is a 2 hour min. after which we will prorate to the fraction of the hour.</li>
			<li>$129 an hour includes 3 full time movers. No day labor</li>
			<li>A fully equipped moving truck </li>
			<li>cargo gen. liability & workmen’s comp. insurance</li>
			<li>A $20 fuel/mileage fee is added to each job.</li>
			<li>When we are going outside the city of Richmond, travel time will be charged.  It is standard in the moving industry.  Unlike others we charge the actual time rather than tacking an hour onto each job for “shop time”</li>
			<li>When the size of the move calls for it (1700 sq. feet +) a fourth man will be added bringing the rate to $145 an hour.</li>
		</ul>
		<p style="text-align:center">
			<a class="btn btn-primary btn-lg" back>Back to Previous Page</a>
		</p>
	</div>
</section>
