.jumbotron h1, .jumbotron .h1, h1{
	color:#ff0000;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
/* bootstrap hacks */
body,h1,h2,h3,h4,h5,h6{
	font-family:'georgia'
}
.btn-primary:active, .btn-primary.active{
	background:#000;
}
.jumbotron{
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 0 !important;
}
.btn-primary{
	border-radius:0;
	border:2px solid #000;
	background:#fff;
	color:#000;
}
.btn-primary:hover{
	color:#fff;
	background:#000;
}
