<section data-ng-controller="MovesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Moves</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="move in moves" data-ng-href="#!/moves/{{move._id}}" class="list-group-item">
          <h3>{{move.email}}</h3>
          <p>
      			Sheduling a move for {{move.selDate | amDateFormat:'MM/DD/YYYY'}} at {{move.selDate | amDateFormat:'hh:mm A'}} you would like to reserve a {{move.moveType}} <br>
      			move from {{move.tobemoved}} {{move.startInfo.destination}} to {{move.movingToType}} {{getDestText()}}
      			starting around time selected.
      		</p>
    			<small class="list-group-item-text">
    				Saved on
    				<span data-ng-bind="move.created | date:'medium'"></span>
    			</small>
    			<h4 class="list-group-item-heading" data-ng-bind="move.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!moves.$resolved || moves.length">
    	No Moves yet.
    </div>
</section>
