<section data-ng-controller="MovesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="move.email"></h1>
		<p>
			Welcome back to sheduling your move for {{move.selDate | amDateFormat:'MM/DD/YYYY'}} at {{move.selDate | amDateFormat:'hh:mm A'}} you would like to reserve a {{move.moveType}} <br>
			move from {{move.primaryAccess}} location to {{move.deliveryAccess}}
			starting around time selected.
		</p>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" ui-sref="setupMove.first">
			Back to scheduling my move
		</a>
	</div>
	<small>
		<em class="text-muted">
			Submitted on
			<span data-ng-bind="move.created | date:'mediumDate'"></span>
		</em>
	</small>
</section>
