<section data-ng-controller="MovesController" data-ng-init="findOne()">
	<div class="page-header" ng-if="move">
		<h1 data-ng-bind="move.email"></h1>
		<p>
			Welcome back to scheduling your move you would like to reserve a {{move.moveType}} <br>
			move from {{move.tobemoved}} {{move.startInfo.destination}} to {{move.movingToType}} {{getDestText()}}
			starting around time selected.<br>
			We have noted a few obstacles worth mentioning that<br>
			may add a little time. Your move is estimated to take <br>
			about <b>{{printEstHours()}}</b> hours at the hourly rate of <b>${{hourRate}}</b> and cost <b>${{calcCostEst()}}</b>
			<span ng-if="fuelFee > 0">(includes $20 fuel fee)</span>. This price includes ALL insurance materials and fees.
		</p>
		<div ng-if="move.booked == true">
			<p>
				{{move.contact.firstName}} {{move.contact.lastName}}<br>
		    {{move.contact.phone}}<br>
		    {{move.contact.email}}<br>
		    {{move.contact.address}}<br>
	      {{move.contact.address2}}<br>
		    {{move.contact.city}}, {{move.contact.state}} {{move.contact.zip}}
			</p>
			<p>
				{{move.contact.comment}}
			</p>
			<div ng-if="move.piano == 1">
				<p>
					This customer has a piano to move.
				</p>
			</div>
		</div>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" ui-sref="setupMove.first({id: move._id})">
			Back to scheduling my move
		</a>
	</div>
	<small>
		<em class="text-muted">
			Submitted on
			<span data-ng-bind="move.created | date:'mediumDate'"></span>
		</em>
	</small>
</section>
