<p>New move request received!</p>

<p>
  On {{selectedDate}} at {{selectedTime}} you would like to reserve a {{move.moveType}} <br>
  move from {{move.tobemoved}} {{move.startInfo.destination}} to {{move.movingToType}} {{destText}}, <br>
  starting around time selected.<br>
  We have noted a few obstacles worth mentioning that<br>
  may add a little time. Your move is estimated to take <br>
  about <b>{{hoursOp}}</b> hours at the hourly rate of <b>${{move.costsData.hourRate}}</b> and cost <b>${{estCost}}</b>.<br>
  <a href="http://mm.studiocenter.com/#!/moves/{{moveID}}">http://mm.studiocenter.com/#!/moves/{{moveID}}</a>
</p>
