  <div class="row">
    <div class="jumbotron text-center">
  		<p>
        Click any that apply.
  		</p>
      <div class="btn-group" data-toggle="buttons">
          <label ng-repeat="(key, item) in move.appliances" class="btn btn-primary" ng-model="move.appliances[key]" btn-checkbox>
            {{key}}
          </label>
      </div>
    </div>
    <p style="text-align:right" ng-show="move.appliances">
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.attic">
        Next Step
      </a>
    </p>
  </div>
