  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        How would you describe the amount we are moving?
      </p>
      <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary" ng-model="move.basement" btn-radio="'A few things'">
            A few things
          </label>
          <label class="btn btn-primary" ng-model="move.basement" btn-radio="'The usual boxes bins and such'">
            The usual boxes bins and such
          </label>
          <label class="btn btn-primary" ng-model="move.basement" btn-radio="'A good amount of stuff'">
            A good amount of stuff
          </label>
          <label class="btn btn-primary" ng-model="move.basement" btn-radio="'I\'m afraid to look'">
            I’m afraid to look
          </label>
      </div>
    </div>
    <p style="text-align:right" ng-show="move.basement">
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.garage">
        Next Step
      </a>
    </p>
  </div>
