<section data-ng-controller="HomeController">
  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        At the pickup address, how will we primarily access the entrance to your home?
      </p>
      <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary" ng-model="move.bigStuff" btn-radio="'You plan to move some pictures, fragiles and the TV in your car?'">
            A. You plan to move some pictures, fragiles and the TV in your car?
          </label>
          <label class="btn btn-primary" ng-model="move.bigStuff" btn-radio="'You plan to take everything that you can possibly carry, leaving us with the large 2 man pieces?'">
            B. You plan to take everything that you can possibly carry, leaving us with the large 2 man pieces?
          </label>

      </div>
    </div>
    <p style="text-align:right" ng-show="move.bigStuff">
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.roomsMoving">
        Next Step
      </a>
    </p>
  </div>
</section>
