  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        Is there anything that will<br>
        require extra assembly/disassembly?
      </p>
      <div data-toggle="buttons">
          <p ng-repeat="(key, item) in move.disassembly"><label class="btn btn-primary" ng-model="move.disassembly[key]" btn-checkbox>
            {{key}}
          </label></p>
      </div>
    </div>
    <p style="text-align:right" ng-show="move.disassembly">
      <a ng-if="checkDisassembly() === true" class="btn btn-primary btn-lg" ui-sref="setupMove.extDisassemblyHours">
        Next Step
      </a>
      <a ng-if="checkDisassembly() === false" class="btn btn-primary btn-lg" ui-sref="setupMove.estimate">
        Next Step
      </a>
    </p>
  </div>
