  <div class="row" data-ng-init="calcMoveTime()">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        I would expect this move to take about <b>{{times.hours}}</b> hours.  based on<br>
        this estimate we are available on the following day(s)
      </p>
      <p style="text-align:center">
        Calendar will show available openings on and around the target date.<br>
        selection
      </p>
    </div>
    <p style="text-align:right" >
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.summary">
        Ok
      </a>
    </p>
  </div>
