  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        You have selected {{printDisList()}}.  The<br>
        disassembly of these will add some time to the move. <br>
        We are happy to take them apart for you. <br>
        If you were looking for ways to save a little<br>
        money, taking this upon yourself would<br>
        be time well spent.
      </p>
    </div>
    <p style="text-align:right" >
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.estimate">
        Ok Thanks
      </a>
    </p>
  </div>
