<section data-ng-controller="HomeController">
  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        You may want to take a look in <br>
        your attics and basements before you describe their <br>
        contents as “a few things”
      </p>
      <p style="text-align:center">
        (It’s ok everyone does it.  Out of sight, out of mind)
      </p>
    </div>
    <p style="text-align:right">
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.oneMoreThing">
        Next Step
      </a>
    </p>
  </div>
</section>
