<section data-ng-controller="HomeController">
	<div class="row">
		<h2>
				First Things First
		</h2>
		<p>
      Let’s make sure we are available.
		</p>
    <p>
      I would like to book a…
    </p>
    <p>
      <a class="btn btn-primary btn-lg" ng-model="moveSel" ng-click="setMove('xsmall')" ui-sref="setupMove.p3">
        X-Small Move<br>
        1-6 Pieces
      </a>
      <a class="btn btn-primary btn-lg" ng-model="moveSel" ng-click="setMove('small')" ui-sref="setupMove.p3">
        Small Move<br>
        400-800 Sq. Feet
      </a>
      <a class="btn btn-primary btn-lg" ng-model="moveSel" ng-click="setMove('medium')" ui-sref="setupMove.p3">
        Medium Move<br>
        800-1600 Sq. Feet
      </a>
      <a class="btn btn-primary btn-lg" ng-model="moveSel" ng-click="setMove('large')" ui-sref="setupMove.p3">
        Large Move<br>
        1700-2600 Sq. Feet
      </a>
    </p>
    <p>
      On, before or after
    </p>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" class="form-control" data-ng-model="move.date" readonly>
    </div>
    <div class="input-group">
      <datetimepicker data-ng-model="move.date" data-datetimepicker-config="{ minuteStep: 30, dropdownSelector: '#dropdown2' }"/>
    </div>
    <p style="text-align:right">
      <a class="btn btn-primary btn-lg" ng-click="nextStep('moveTypeDate')">
        Next Step
      </a>
    </p>
	</div>
</section>
