	<div class="row">
		<h2>
				First Things First
		</h2>
		<p>
      Let’s make sure we are available.
		</p>
		    <label>
		      I would like to book a…
		    </label><br>
				<div data-toggle="buttons">
		        <label class="btn btn-primary" ng-model="move.moveType" btn-radio="'xsmall'">
							X-Small Move<br>
		        	1-6 Pieces
						</label>
						<label class="btn btn-primary" ng-model="move.moveType" btn-radio="'small'">
							Small Move<br>
			        400-800 Sq. Feet
						</label>
						<label class="btn btn-primary" ng-model="move.moveType" btn-radio="'medium'">
							Medium Move<br>
			        800-1600 Sq. Feet
						</label>
						<label class="btn btn-primary" ng-model="move.moveType" btn-radio="'large'">
							Large Move<br>
			        1700-2600 Sq. Feet
						</label>
		    </div>
    </label><br>
      On, before or after
    </p>
		<div ng-show="dateInvalid">
			<h4>You have chosen a previous date and time. Please choose a date and time in the future.</h4>
		</div>{{Date.now}}
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="text" class="form-control" data-ng-model="move.selDate" readonly>
    </div>
    <div class="input-group">
      <datetimepicker data-ng-model="move.selDate" ng-change="checkDate()" data-datetimepicker-config="{ minuteStep: 30 }"/>
    </div>
		<div ng-show="dateAvail == false">
			<h3>We are unavailable that day. <br>
			Would you like to try another <br>
			day(s)?</h3>
		</div>
    <p style="text-align:right" ng-show="move.moveType && move.selDate && dateInvalid == false && dateAvail == true">
      <a class="btn btn-primary btn-lg" ng-click="nextStep('moveTypeDate')">
        Next Step
      </a>
    </p>
	</div>
