	<div class="row">
		<h2>
				First Things First
		</h2>
		<p>
      Let’s make sure we are available.
		</p>
		    <label>
		      I would like to book a…
		    </label><br>
				<div data-toggle="buttons">
		        <label class="btn btn-primary" ng-model="move.moveType" btn-radio="'xsmall'">
							X-Small Move<br>
		        	1-6 Pieces
						</label>
						<label class="btn btn-primary" ng-model="move.moveType" btn-radio="'small'">
							Small Move<br>
			        400-800 Sq. Feet
						</label>
						<label class="btn btn-primary" ng-model="move.moveType" btn-radio="'medium'">
							Medium Move<br>
			        800-1600 Sq. Feet
						</label>
						<label class="btn btn-primary" ng-model="move.moveType" btn-radio="'large'">
							Large Move<br>
			        1700-2600 Sq. Feet
						</label>
		    </div>
    </label>
	</p>
	<div ng-show="move.moveType">
		<p>
      On, before or after
    </p>
		<div class="input-group">
			<div style="display:inline-block; padding-bottom:10px">
				<select class="form-control" ng-model="move.selTimeDay">
					<option value="morning">Morning (9am-1pm)</option>
					<option value="afternoon">Afternoon (1pm-9pm)</option>
					</select>
				</div>
			</div>
			<div ng-if="message">
				{{message}}
			</div>
	    <p style="text-align:right" ng-if="move.moveType">
				<a class="btn btn-primary btn-lg" ng-click="nextStep('moveTypeDate')">
	        Next Step
	      </a>
	    </p>
		</div>
	</div>
