  <div class="row">
    <div class="jumbotron text-center">
  		<p>
        Enter your zip code<br>
         at the starting address.
  		</p>
      <a class="btn btn-primary btn-lg" id="use-my-location" ng-click="useMyLocation()">Use my location</a>
      <div ng-show="lookingup" style="text-align:center;font-weight:700;color:red">{{message}}</div>
      <input type="text" maxlength="5" data-ng-model="move.startZip" id="move.startZip" class="form-control" placeholder="zip" autocomplete="off" required>
      <div class='container ios'>
          <ng-keypad on-key-pressed='vm.onKeyPressed'>
              <ng-key ng-repeat='key in vm.keys' ng-key-data='key'>{{key}}</ng-key>
              <ng-key class='empty'></ng-key>
              <ng-key ng-key-data='0'>0</ng-key>
              <ng-key class='empty' ng-key-data='"<"'>del</ng-key>
          </ng-keypad>
      </div>
      <div>
        <a class="btn btn-primary btn-lg" ng-click="getStartInfo()" ng-if="move.startZip.length == 5">
          Get Location Info
        </a>
      </div>
      <div ng-if="move.startInfo.duration">
        Estimated travel time: {{move.startInfo.duration}}
      </div>
    </div>
    <p style="text-align:right" ng-show="move.startInfo.duration">
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.deliveryAddressDistance">
        Next Step
      </a>
    </p>
  </div>
