  <div class="row">
    <div class="jumbotron text-center">
  		<p>
        Before we go on I want to make sure you are aware we have a 2 hour minimum at the hourly rate of $129.  If it sounds like a lot to move 1-2 things please bear in mind you are getting an experienced crew of professionals that do this full time.  The hourly rate includes workmen’s comp, gen. liability and cargo insurance.  They are coming fully prepared with the appropriate tools and materials to do the job.
  		</p>
    </div>
    <p style="text-align:right">
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.first">
        Next Step
      </a>
    </p>
  </div>
