<section data-ng-controller="HomeController">
  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        And you are moving to?
      </p>
      <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'one bedroom apartment'">
            in a one bedroom apartment
          </label>
          <label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'two bedroom apartment'">
            in a two bedroom apartment
          </label>
          <label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'three bedroom apartment'">
            in a three bedroom apartment
          </label>
          <label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'house'">
            in a house
          </label>
          <label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'loaded rental truck'">
            in a loaded rental truck
          </label>
          <label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'storage'">
            in storage (rental, PODS, etc.)
          </label>
          <label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'n/a'">
            N/A move is taking place onsite or in house
          </label>
      </div>
    </div>
    <p style="text-align:right" ng-show="move.movingToType">
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.pickUpDropOff">
        Next Step
      </a>
    </p>
  </div>
</section>
