  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        And you are moving to?
      </p>
      <div data-toggle="buttons">
          <p><label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'one bedroom apartment'">
            a one bedroom apartment
          </label></p>
          <p><label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'two bedroom apartment'">
            a two bedroom apartment
          </label></p>
          <p><label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'three bedroom apartment'">
            a three bedroom apartment
          </label></p>
          <p><label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'house'">
            a house
          </label></p>
          <p><label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'loaded rental truck'">
            a loaded rental truck
          </label></p>
          <p><label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'storage'">
            storage (rental, PODS, etc.)
          </label></p>
          <p><label class="btn btn-primary" ng-model="move.movingToType" btn-radio="'n/a'">
            N/A move is taking place onsite or in house
          </label></p>
      </div>
    </div>
    <p style="text-align:right" ng-show="move.movingToType">
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.pickUpDropOff">
        Next Step
      </a>
    </p>
  </div>
