<section data-ng-controller="MovesController">
  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        If the estimate seems way off, it may be.  Computers only go by a<br>
        program.  Save your progress with a bookmark, and give me a call at <br>
        804 928 1111.  I will help you sort it out.
      </p>
    </div>
    <p style="text-align:right" >
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.estimate">
        Ok
      </a>
    </p>
  </div>
</section>
