<section data-ng-controller="MovesController">
  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        Do you need us to stop along the<br>
        way to pickup or drop off anything?
      </p>
    </div>
    <p style="text-align:right" >
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.dependingLocation">
        Yes
      </a>
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.primaryAccess">
        No
      </a>
    </p>
  </div>
</section>
