  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        At the pickup address, how will we primarily access the entrance to your home?
      </p>
      <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary" ng-model="move.primaryAccess" ng-click="move.primaryAccessDif = -1" btn-radio="'A short sidewalk'">
            A short sidewalk
          </label>
          <label class="btn btn-primary" ng-model="move.primaryAccess" ng-click="move.primaryAccessDif = 1" btn-radio="'A long sidewalk'">
            A long sidewalk
          </label>
          <label class="btn btn-primary" ng-model="move.primaryAccess" ng-click="move.primaryAccessDif = -1" btn-radio="'ground floor access'">
            ground floor access
          </label>
          <label class="btn btn-primary" ng-model="move.primaryAccess"  ng-click="move.primaryAccessDif = 0" btn-radio="'One flight of stairs'">
            One flight of stairs
          </label>
          <label class="btn btn-primary" ng-model="move.primaryAccess" ng-click="move.primaryAccessDif = 1" btn-radio="'Two flights of stairs'">
            Two flights of stairs
          </label>
          <label class="btn btn-primary" ng-model="move.primaryAccess" ng-click="move.primaryAccessDif = 0" btn-radio="'Onsite POD or rental truck'">
            Onsite POD or rental truck
          </label>
          <label class="btn btn-primary" ng-model="move.primaryAccess" ng-click="move.primaryAccessDif = 1" btn-radio="'An elevator'">
            An elevator
          </label>
          <label class="btn btn-primary" ng-model="move.primaryAccess" ng-click="move.primaryAccessDif = 0" btn-radio="'N/A move is taking place onsite or in house'">
            N/A move is taking place onsite or in house
          </label>
      </div>
    </div>
    <p style="text-align:right" ng-show="move.primaryAccess">
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.deliveryAccess">
        Next Step
      </a>
    </p>
  </div>
