  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        Your Progress has been saved. You can use your bookmark<br>
        to pick up where you left off when you are ready to book it.<br>
        Remember, availability will change, this is not a reservation.
      </p>
      <p>
        Copy or bookmark the link below:<br>
        <a target="_blank" href="http://{{host}}/#!/moves/{{move._id}}">http://{{host}}/#!/moves/{{move._id}}</a>
      </p>
    </div>
    <p style="text-align:right" >
      <a class="btn btn-primary btn-lg" ui-sref="setupMove.goodBye">
        Ok
      </a>
    </p>
  </div>
