  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        Enter your email to save your progress.  We will send you<br>
        a bookmark that will allow you to pickup where<br>
        you left off.  Availability may change.<br>
        This is not a reservation<br>
        <small>email is used for no other purpose than sending your bookmark</small>
      </p>
      {{message}}
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" ng-model="move.email" id="move.email" placeholder="Email">
        </div>
        <input type="submit" class="btn btn-primary btn-lg">
    </div>
  </div>
