  <div class="row" data-ng-init="calcMoveTime()">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        On {{move.selDate | amDateFormat:'MM/DD/YYYY'}} at {{move.selDate | amDateFormat:'hh:mm A'}} you would like to reserve a {{move.moveType}} <br>
        move from {{move.primaryAccess}} location to {{move.deliveryAccess}} location, <br>
        starting around time selected.<br>
        We have noted a few obstacles worth mentioning that<br>
        may add a little time. Your move is estimated to take <br>
        about <b>{{times.hours}}</b> hours at the hourly rate of <b>${{hourRate}}</b> and cost <b>${{calcCostEst()}}</b>.
      </p>
      <p>
        <!--<a class="btn btn-primary btn-lg" ui-sref="setupMove.patioFurnitureOptions">
          Reserve the date with a refundable deposit
        </a>-->
        <a class="btn btn-primary btn-lg" ui-sref="setupMove.saveProgress">
          Receive a Bookmark and save your progress
        </a>
        <a class="btn btn-primary btn-lg" ui-sref="setupMove.offEstimate">
          That’s more than I was expecting
        </a>
      </p>
    </div>
  </div>
