  <div class="row">
    <div class="jumbotron text-center">
      <p style="text-align:center">
        On date selected at time selected you would like to reserve a size <br>
        selected move from access selected  location to access selected location, <br>
        starting around time selected.<br>
        We have noted a few obstacles worth mentioning that<br>
        may add a little time.   Your move is estimated to take <br>
        about x hours at the hourly rate of x and cost X.
      </p>
      <p>
        <!--<a class="btn btn-primary btn-lg" ui-sref="setupMove.patioFurnitureOptions">
          Reserve the date with a refundable deposit
        </a>-->
        <a class="btn btn-primary btn-lg" ui-sref="setupMove.saveProgress">
          Receive a Bookmark and save your progress
        </a>
        <a class="btn btn-primary btn-lg" ui-sref="setupMove.offEstimate">
          That’s more than I was expecting
        </a>
      </p>
    </div>
  </div>
